* {
	padding: 0;
	margin: 0;
}
body {
	padding: 16px 24px;
}
.dateFilters {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 12px;
	margin-bottom: 37px;
}
.filter {
	position: relative;
}
.filter p {
	color: red;
	position: absolute;
	display: none;
}

.login {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: white;
	z-index: 1;
}
.login #form {
	display: flex;
	flex-direction: column;
}
.login #form h2 {
	margin-bottom: 12px;
}
.login input {
	padding: 14px;
	width: 250px;
	margin-bottom: 16px;
	border-radius: 4px;
	border: 1px solid rgb(163, 162, 162);
	outline: none;
}
.login button {
	padding: 15px;
	text-transform: uppercase;
	background: rgb(13, 36, 167);
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}

#dateFrom,
#dateTo {
	outline: none;
	padding: 14px;
	width: 250px;
	margin-right: 16px;
	border-radius: 4px;
	border: 1px solid rgb(163, 162, 162);
}
#dateFilter,
#exportFile {
	padding: 15px;
	width: 200px;
	background: rgb(13, 36, 167);
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}
#dataTable_wrapper {
	overflow-x: auto;
}
#dataTable {
	max-width: 100%;
}
table.dataTable thead .sorting {
	padding-left: 10px !important;
	text-align: inherit;
}
.dataType {
	display: flex;
	flex-direction: column;
}
.dataType #dataType {
	max-width: 250px;
	border-radius: 4px;
	border: 1px solid rgb(163, 162, 162);
	padding: 6px;
	outline: none;
	margin-bottom: 16px;
	margin-top: 8px;
}
.loginError {
	color: red;
	margin-top: 8px;
	font-size: 18px;
	display: none;
}
.error + .loginError {
	display: block;
}
.error + .filterError {
	display: block;
}
